body {
  margin: 0;
  padding: 2rem;
  text-align: center;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 4px;
  margin: 20px auto;
  width: 800px;
  background-color: rgb(248, 240, 226);
}

main {
  background-color: rgb(247, 237, 219);
}

.tasks-category {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 8px;
}

ul {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

